<h1 class="text-5xl mb-5">Register page</h1>
<form class="flex flex-col p-6" action="/register" method="POST">
    <div class="my-4">
        <label class="mr-3" for="username">Username</label>
        <input type="text" name="username" placeholder="Username" autocomplete="off">
    </div>
    <div class="my-4">
        <label class="mr-3" for="email">Email</label>
        <input type="text" name="email" placeholder="Email" autocomplete="off">
    </div>
    <div class="my-4">
        <label class="mr-3" for="password">Password</label>
        <input type="password" name="password" placeholder="Password" autocomplete="off">
    </div>
    <button type="submit" class="border py-2 px-7 bg-blue-500 text-white text-lg rounded">Login</button>
</form>